@import "./components/_general"
@import "./components/_mixin"

.nav
  @include flex(row,space-around, center,10px)
  /*background: rgba(54, 54, 54, 0.6)
  backdrop-filter: blur(10px)
  position: fixed
  top: 0
  width: 100vw
  z-index: 100
  font-size: 10px
  font-weight: 700
  .idiomas
    @include flex(row,flex-start,center,0)
    background: rgba(255, 255, 255, 0.1)
    backdrop-filter: blur(10px)
    border: 1px solid rgba(255, 255, 255, 1)
    width: min(100%,240px)
    padding: 6px
    background-image: url(languages.svg)
    background-repeat: no-repeat
    background-size: 18px
    border-radius: 5px
    /*background-position: calc(100% - 12px) center;*/
    background-position: 0%
    outline: none

.centro
  min-height: 70vh
  @include flex(column,space-between,center,0)
  padding-top: 200px
  background-image: url("./pictures/fondo.jpg")
  opacity: 0.9
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  color: $color-fondo
  h1
    font-size: 5rem
    font-weight: 700
    
